<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="footer-col col-md-20">
          <h3>Career</h3>
          <pre class="about-st">
  ○  IBK기업은행 
    -  IT시스템운영부 대리 (2023.1 ~ 현재)
    -  IT내부통제팀 대리 (2021.1 ~ 2023.1)
  ○  국방정보본부 
    -  정보체계운용병(육군) 병장 (2019.5 ~ 2020.12) 
  ○  IBK기업은행 
    -  신당역지점/중부지역본부 계장/대리 (2017.12 ~ 2019.5) 


          </pre>

          <h3>Skills</h3>
          <pre class="about-st">
  ○  Data Modeling(Erwin, da#)
  ○  Data Standard(WiseMeta)
  ○  Data Quality(WiseDQ)
  ○  RDBMS(ORACLE)
  ○  Python3
  ○  JAVA 


          </pre>
          <h3>Education</h3>
          <pre class="about-st">
  ○  한양대학교 (2021.3 ~ 재학중)
    -  산업융합학부(정보융합전공)
  ○  세명컴퓨터고등학교 (2015.3 ~ 2018.2)
    -  스마트디바이스과


          </pre>

          <h3>License</h3>
          <pre class="about-st">
  ○  CAMS (2022.1)       ○  SQLD (2021.10)       
  ○  ADSP (2021.6)       ○  외환전문역 2종 (2020.12)   
  ○  외환전문역 1종 (2018.12)       ○  파생상품투자권유자문인력 (2018.11)
  ○  변액보험판매관리사 (2018.8)       ○  펀드투자권유자문인력 (2018.7)
  ○  손해보험대리점 (2017.8)       ○  제3보험대리점 (2017.7)
  ○  생명보험대리점 (2017.7)       ○  항공전자정비기능사 (2017.6)
  ○  전자기기기능사 (2017.6)       ○  통신기기기능사 (2016.12)
  ○  전자계산기기능사 (2016.4)       ○  정보처리기능사 (2015.12)
  ○  리눅스마스터 2급 (2015.8)       ○  인터넷정보관리사 2급(2015.6)


          </pre>

          <h3>External Education</h3>
          <pre class="about-st">
  ○  데이터 모델링 실전(멀티캠퍼스) - 35시간
    -  교육내용 : 요구사항 분석, 논리/물리모델링, (반)정규화, Erwin

    
          </pre>

          <h3>Award</h3>
          <pre class="about-st">
  ○  임베디드소프트웨어경진대회 (인기상)
  ○  대한민국녹생성장학생생활발명대회 (은상)
  ○  한국미래창조발명대회 (금상)
  ○  대한민국창의발명대전 (장려상)
          </pre>
        </div>
      </div>
    </div>
  </div>
</section>
