<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Introduce</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="footer-col col-md-15">
          안녕하세요! 저는 25살 Data Architect 정민혁이라고 해요!
          <br>
          저는 항상 도전하고, 경험을 통해 성장하는 것을 굉장히 즐기는 사람이에요!
          <br><br>
          '나이도 어린데 무슨 경험이 있겠어'라고 생각하실 수도 있지만, 고등학교를 졸업하고 일한지 이제 벌써 햇수로 7년차 직장인이에요 :)
          <br><br>
          저는 전기, 전자, 통신, 금융, IT 등 여러 분야를 공부하고 경험해왔어요.
          그리고 지금은 전사DA로 근무하며, 데이터 아키텍처를 공부하고 있어요!
          <br><br>
          사실 저는 지금까지 해온 어떤 업무보다 DA 업무를 사랑하는데요!
          하지만 현재 회사는 공공기관이라 순환근무가 필수적이기에, 언제 업무가 바뀔지 모른다는 두려움을 갖고 있어요. 
          <br><br>
          과거엔 안정적인 직장에서 근무하는게 중요한 가치였다면, 이젠 스스로를 더 성장시킬 수 있는 경험을 찾고자 해요!
          <br><br>
        </div>
      </div>
    </div>
  </div>
</section>
