<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Introduce</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="footer-col col-md-15">
          안녕하세요! 저는 99년생 Data Architect 정민혁이라고 해요!
          <br><br>
          저는 항상 도전하고, 경험을 통해 성장하는 것을 굉장히 즐기는 사람이에요!
          <br><br>
          그 동안 전기, 전자, 통신, 금융, IT 등 여러 분야를 공부하고 경험해왔어요.
          <br><br>
          그리고 지금은 전사DA로 근무하며, 데이터 아키텍처를 공부하고 있어요!
          <br><br>
          저는 수신, 여신, 외환을 가리지 않고 금융 도메인 자체에 익숙한 사람이에요. 
          <br><br>
          또, 어느 환경에서도 금방 배우고, 적응하여 Output으로 증명하자는 마인드를 갖고 있어요! 
          <br><br>
        </div>
      </div>
    </div>
  </div>
</section>
