<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ post.title }}</h2>
            <hr class="star-primary">
            <img src="img/portfolio/{{ post.img2 }}" class="img-responsive img-centered">
            <!-- markdown 파일에 img2 속성을 만들어 놓고 modals는 img2 보게하고, grid.html은 img를 보게하면됨. -->
            <!-- 위 주석을 해제하면 Experience 클릭 시 상세 내용에서 이미지를 보여줄 수 있음. -->
            <!-- 현재는 alt 지우고, img2를 비워버렸는데, 이러면 그림파일 아이콘이 보이긴함. 즉 걍 공백이미지를 만들어 놓고 그걸 바라보게 하는게 나을지도? -->
            {% if post.description %}
            <p>{{ post.description }}</p>
            {% endif %}
            <ul class="list-inline item-details">
              {% if post.client %}
              <li>Client:
                <strong>{{ post.client }}</strong>
              </li>
              {% endif %}
              {% if post.project-date %}
              <li>Date:
                <strong>{{ post.project-date }}</strong>
              </li>
              {% endif %}
              {% if post.category %}
              <li>Service:
                <strong>{{ post.category }}</strong>
              </li>
              {% endif %}

              {% if post.Pdf %}
                <iframe width="100%" height="600" src="/img/{{ post.Pdf }}"></iframe>
              {% endif %}


            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
